Alex Ivliev <alex.ivliev@tu-dresden.de> <alex@ivliev.de>
Lukas Gerlach <lukas.gerlach@tu-dresden.de> <12497479+monsterkrampe@users.noreply.github.com>
Lukas Gerlach <lukas.gerlach@tu-dresden.de> <monsterkrampe@users.noreply.github.com>
Markus Krötzsch <markus.kroetzsch@tu-dresden.de> <accounts@korrekt.org>
Markus Krötzsch <markus.kroetzsch@tu-dresden.de> <mkroetzsch@users.noreply.github.com>
Matthias Meissner <matthias.meissner2@mailbox.tu-dresden.de> <60295901+matzemathics@users.noreply.github.com>
Matthias Meissner <matthias.meissner2@mailbox.tu-dresden.de> <geige.matze@gmail.com>
Maximilian Marx <maximilian.marx@tu-dresden.de> <mmarx@wh2.tu-dresden.de>
Philipp Hanisch <philipp.hanisch1@tu-dresden.de>
Simon Meusel <simon.meusel@mailbox.tu-dresden.de> <109952799+rlwww@users.noreply.github.com>
Simon Meusel <simon.meusel@mailbox.tu-dresden.de> <info@simonmeusel.de>
Stefan Ellmauthaler <stefan.ellmauthaler@tu-dresden.de> <71695780+ellmau@users.noreply.github.com>