[package]
name = "stage2"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "0.4"
csv = "1.1.6"
thiserror = "1.0"
num = "0.4.0"
nom = "7.1.1"

[dev-dependencies]
env_logger = "*"
test-log = "0.2"
criterion = {version = "0.3", features = [ "html_reports" ] }
rand = "0.8"
rand_pcg = "0.3"
quickcheck = "1"
quickcheck_macros = "1"
arbitrary = { version = "1", features = ["derive"] }

[target.'cfg(unix)'.dev-dependencies]
iai = "0.1" # needs valgrind -> unix only

[profile.dev]
panic = "unwind"

[profile.release]
panic = "abort"

[[bench]]
name = "seek"
harness = false

# iai - based benchmarks, only on unix
[[bench]]
name = "seek_iai"
harness = false
