[package]
name = "nemo-wasm"
version = "0.2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
js-sys = "0.3.63"
nemo = { path = "../nemo", features = [ "js" ], default-features = false }
nemo-physical = { path = "../nemo-physical", default-features = false }
wasm-bindgen = "0.2"
